@import '../../style/color.scss';
@import '../../style/font.scss';

.m-layout-aside {
  position: fixed;
  z-index: 1210;
  left: 0;
  top: 64px;
  bottom: 0;
  width: 200px;
  background: #FFFFFF;
  box-shadow: 5px 0 10px 0 $aside-shadow;
  transform-origin: 0 0;
  transition: transform .4s ease;
  transform: translateZ(0);
  font-size: 18px;
  color: #fff;
  overflow: auto;

  .ant-menu-submenu {
    .ant-menu-submenu-title {
      .sub-item {
        display: flex;
        align-items: center;
        .menu-icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }
    }
  }

  .ant-menu-item, .ant-menu-submenu-title {
    transition: none;
  }

  .ant-menu-submenu-active, .ant-menu-submenu-selected {

    .ant-menu-submenu-title {
      color: $aside-activeFont;

      .sub-item {
        
      }
    }
  }

  .ant-menu-submenu-selected {
    >div {
      color: $aside-activeFont;
      font-family: $medium;
      font-weight: 600;
    }
  }

  .ant-menu.ant-menu-inline {
    width: 100%;
    color: $aside-baseFont;
    font-family: $regular;

    .ant-menu-item {
      width: calc(100%);
      font-family: $regular;
      display: flex;
      align-items: center;

      .menu-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }

      .purchase {
        // background-image: url(../../../images/menu_icon/icon_purchase_nor.png);
      }

      &:first-child {
        margin-top: 15px;
      }
    }

    .ant-menu-item:hover, .ant-menu-item-selected {
      .purchase {
        // background-image: url(../../../images/menu_icon/icon_purchase_light.png);
      }
      color: $aside-activeFont;
      font-family: $medium;
    }

    .ant-menu-item:active {
      background: none;
    }
  }

  .ant-menu-inline {
    border-right: 0;
  }

  .ant-menu-item-selected {
    background-color: $aside-selected !important;
    color: $aside-activeFont;
    font-family: $medium;
    font-weight: 600;

    .m-icon {
      .u-icon {
        fill: $aside-activeIcon !important;
      }
    }

    &::after {
      content: none;
      border-right: 0;
    }
  }
}

.icon_home {
  background-image: url(../../static/icon_home.png);
}
.icon_antd {
  background-image: url(../../static/icon_antd.png);
}
.icon_redux {
  background-image: url(../../static/icon_redux.png);
}
.icon_react {
  background-image: url(../../static/icon_react.png);
}
.icon_rn {
  background-image: url(../../static/icon_rn.png);
}