.g-header {
  width: 100%;
  height: $header-height;
  // background-color: rgb(255, 249, 221);
  border-bottom: 1px solid #ccc;
  .h-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    .h-img {
      width: 60px;
      height: 60px;
    }
    .h-title {
      font-size: 24px;
      font-weight: 400;
      margin-left: 10px;
    }
  }
  .h-userInfo {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    .h-username {
      height: $header-height;
      line-height: $header-height;
    }
    .h-logout {
      margin-left: 10px;
    }
  }
}