.g-pro {
  margin-top: 10px;
  margin-bottom: 10px;
  .progress {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: 'flex-start';
    .progress-wrapper {
      position: absolute;
      width: 400px;
      height: 20px;
      border: 1px solid #000;
      border-radius: 10px;
      .progress-inner {
        position: absolute;
        height: 18px;
        border-radius: 10px;
        background-color: gray;
      }
    }
    .progress-info {
      position: relative;
      width: 100%;
      text-align: center;
    }
  }
}
