
$aside-shadow:rgba(211,214,228,0.51);
$aside-activeIcon:#3A5BEC;
$aside-activeFont:#1F2429;
$aside-baseFont:#8694A8;
$aside-selected: rgba(25,94,240,0.16);

$header-border:#D5E0F2;
$header-log:#A1A6BA;
$m-shadow:#D3D6E4;
$u-delBtn:#F4231F;
$u-login-shadow:#D3D6E4;
$u-login-tit:#292929;
$u-login-tit-border:#E8E8E8;
$antd-primary-color:#3A5BEC;
$function:#3478D6;

$antd-primary-bg: #3A5BEC;
$antd-label-required-color: #292929;

$u-delBtn:#F4231F;
$u-form-name:#3D4150;
$u-title:#414552;
$u-cplBtn:rgb(42, 172, 9);

$celendar-normal:#E0E5FB;
$celendar-border:#E8E8E8;

$transfer-title:#292C3C;

$footer-font:#AEB1C4;
$footer-bg:#fafafa;
$antd-border:#d9d9d9;
$line-active: #3588FA;

